.controlIcons:hover {
  color: #6499ef;
  cursor: pointer;
}
.controlIcons {
  color: white;

}
*, h3 {
  font-family: 'Lato', sans-serif;
}

.topIcons:hover {
  color: #6499ef;
  cursor: pointer;
}

.is-upgraded.mdl-js-slider.mdl-slider {
  margin-left: 0px !important;
}
.mdl-slider__background-flex {
  margin-left: 0px !important;
}
body {
  margin: 0px;
  height: 100%;
}

@media only screen and (min-width: 0px) {
  .songTitle {
    font-size: 16px;
  }
  .songDetails {
    font-size: 14px;
  }
}
@media only screen and (min-width: 1000px) {
  .songTitle {
    font-size: 20px;
  }
  .songDetails {
    font-size: 18px;
  }
}
@media only screen and (min-width: 2000px) {
  .songTitle {
    font-size: 24px;
  }
  .songDetails {
    font-size: 22px;
  }
}
