.controlIcons:hover {
  color: #6499ef;
  cursor: pointer;
}
.controlIcons {
  color: white;
}
.material-icons.editStation {
  opacity: .25;
  pointer-events: none;
}
.material-icons.editStation:hover {
  opacity: 100;
  cursor: pointer;
}
.material-icons.deleteStation {
  opacity: .25;
  pointer-events: none;
}
.material-icons.deleteStation:hover {
  opacity: 100;
  cursor: pointer;
}
*, h3 {
  font-family: 'Lato', sans-serif;
}

.topIcons:hover {
  color: #6499ef;
  cursor: pointer;
}

.is-upgraded.mdl-js-slider.mdl-slider {
  margin-left: 0px !important;
}
.mdl-slider__background-flex {
  margin-left: 0px !important;
  top: 60%;
}

body {
  margin: 0px;
  height: 100%;
}

.logOut:hover {
  color: #6499ef;
}

.topMenuIcon:hover {
  color: #6499ef;
}

.chatLoginAltOpt:hover {
  text-decoration: underline;
  color: #6499ef;
  cursor: pointer;
}

/* BASIC MEDIA QUERIES NEED TO UPDATE FOR BETTER RESPONSIVE DESIGN */

@media only screen and (min-width: 0px) {
  .songTitle {
    font-size: 16px;
  }
  .songDetails {
    font-size: 14px;
  }
}
@media only screen and (min-width: 1000px) {
  .songTitle {
    font-size: 20px;
  }
  .songDetails {
    font-size: 18px;
  }
}
@media only screen and (min-width: 2000px) {
  .songTitle {
    font-size: 24px;
  }
  .songDetails {
    font-size: 22px;
  }
}
